<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="net.gandi.gandroid.test" android:versionCode="1" android:versionName="0.1-SNAPSHOT">
  <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="11"/>
  <application android:label="Gandroid test"/>
    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="net.gandi.gandroid" android:label="Tests for Gandroid" />
</manifest>

